<!-- LEFT SIDE - PAGE ADMINs  -->
<div>
    <ul class="navbar-nav sidebar font-4-all">
        <li class="logo d-flex justify-content-center align-items-center py-2">
            <div id="logo-brand" class="font-weight-bold d-flex" style="font-size:2rem;">
                <div routerLink="/" class="text-light" style="font-family: 'Roboto'; cursor: pointer;">
                    DoKi ADMIN<span style="color: var(--darkred);">.</span>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider mb-0">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <hr class="sidebar-divider mt-1">
        <div class="sidebar-heading">
            Hệ thống
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách</span>
            </a>
            <div id="collapseTwo" class="collapse font-14">
                <div class="py-2 collapse-inner bg-gray">
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin">
                <i class="far fa-user mr-1"></i>
                Người dùng
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-products">
                <i class="fas fa-tshirt mr-1"></i>
                Sản phẩm
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-category">
                <i class="fa fa-list-ul mr-1"></i>
                Loại sản phẩm
            </a>
        </li>
        <li>
            <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2 " routerLink="/admin-promotion">
                <i class="fas fa-bullhorn mr-1"></i>
                Khuyến mãi
            </a>
        </li>
</div>
</div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapseThree" class="collapse">
                <div class="py-2 collapse-inner bg-gray font-14">
        <li>
    <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
        Đăng nhập
    </a>
</li>
<li>
    <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
        Đăng kí
    </a>
</li>
<li>
    <a class="collapse-item text-decoration-none py-2 px-3 my-0 mx-2" href="#">
        Quên mật khẩu
    </a>
</li>
</div>
</div>
        </li>
        <hr class="sidebar-divider my-0">
    </ul>
</div>