<!-- Banner Carousel -->
<section id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block" src="./assets/images/slider/slide_1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h6 class="caption__title">For Men</h6>
                <p class="caption__newarr">New Arrivals</p>
                <button type="button" class="btn btn-light caption__button text-uppercase" routerLink="/men">See More</button>
            </div>
        </div>
        <div class="carousel-item active">
            <img class="d-block" src="./assets/images/slider/slide_2.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h6 class="caption__title">Autumn Collection 2020</h6>
                <p class="caption__newarr">New Arrivals</p>
                <button type="button" class="btn btn-light caption__button text-uppercase" routerLink="/women">See More</button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block" src="./assets/images/slider/slide_7.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h6 class="caption__title">New Arrivals</h6>
                <p class="caption__newarr">Leather Bags</p>
                <button type="button" class="btn btn-light caption__button text-uppercase" routerLink="/accessories">See More</button>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</section>

<!-- Product Banner -->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 px-0">
                <div class="banner__content__block">
                    <img src="./assets/images/banner/banner-02.jpg" alt="">
                    <button class="btn block__title text-uppercase" routerLink="/women">Thời trang Nữ</button>
                </div>
                <div class="banner__content__block">
                    <img src="./assets/images/banner/banner-05.jpg" alt="">
                    <button class="btn block__title text-uppercase" routerLink="/accessories">Mắt kính</button>

                </div>
            </div>

            <div class="col-md-4 px-4">
                <div class="banner__content__block">
                    <img src="./assets/images/banner/banner-04.jpg" alt="">
                    <button class="btn block__title text-uppercase" routerLink="/accessories">Balo</button>
                </div>
                <div class="banner__saleoff d-flex flex-column justify-content-center align-items-center">
                    <h4 class="text-uppercase text-center font-weight-bold" style="line-height: 2.5rem;">Đăng ký và Nhận mã giảm giá tới
                        20%</h4>
                    <p class="text-center mt-3 text-secondary flex-grow-1 font-15">Hãy là người đầu tiên biết đến những sản phẩm mới nhất của chúng tôi và
                        nhận ngay các ưu đãi hấp dẫn!</p>
                    <button type="button" class="btn btn-dark caption__button text-uppercase" routerLink="/signup">Đăng ký</button>
                </div>
            </div>

            <div class="col-md-4 px-0">
                <div class="banner__content__block">
                    <img src="./assets/images/banner/banner-06.jpg">
                    <button class="btn block__title text-uppercase" routerLink="/men">Thời trang Nam</button>
                </div>
                <div class="banner__content__block">
                    <img src="./assets/images/banner/banner-03.jpg" alt="">
                    <button class="btn block__title text-uppercase" routerLink="/accessories">Đồng hồ</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section id="blog" class="mb-5">
    <h5 class="text-uppercase text-center"><b>BLOG</b></h5>
    <p class="font-14 text-secondary text-center mb-4">Cập nhật những xu hướng thời trang mới nhất!</p>
    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="blog__content__block">
                    <img class="mb-3" src="./assets/images/blog/1.png">
                    <a href="#" class="text-uppercase font-14">Muốn sexy, hãy học cách chinh phục short jeans!</a>
                    <p class="font-12 text-secondary pr-2 my-1">Ai bảo cứ phải bikini mới là tuyệt đỉnh của mùa hè?
                        Short jeans có khi còn làm tốt hơn..</p>
                    <a href="#" class="text-secondary font-13"><u>Xem thêm</u></a>
                </div>
            </div>
            <div class="col-4">
                <div class="blog__content__block">
                    <img class="mb-3" src="./assets/images/blog/2.jpg">
                    <a href="#" class="text-uppercase font-14">5 món đồ mặc là đẹp bất chấp mọi vóc dáng</a>
                    <p class="font-12 text-secondary pr-2 my-1">Dù có dáng người thấp bé hay hơi đầy đặn một chút thì
                        các cô gái vẫn có thể hoàn...</p>
                    <a href="#" class="text-secondary font-13"><u>Xem thêm</u></a>
                </div>
            </div>
            <div class="col-4">
                <div class="blog__content__block">
                    <img class="mb-3" src="./assets/images/blog/3.jpg">
                    <a href="#" class="text-uppercase font-14">Gợi ý cách xắn gấu với từng dáng quần</a>
                    <p class="font-12 text-secondary pr-2 my-1">Đầu tiên, gập gấu quần 2 lượt với độ dày mỗi mặt khoảng
                        2,5cm và làm tương tự với chân...</p>
                    <a href="#" class="text-secondary font-13"><u>Xem thêm</u></a>
                </div>
            </div>
        </div>
    </div>
</section>