// h5 {
//     margin-bottom: 2.5rem;
// }

i {
    margin-right: 8px;
}

p,
a {
    color    : grey !important;
    font-size: 13px;
}

a:hover {
    opacity: 0.8;
}

#author {
    background-color: var(--footer);
}

@media only screen and (max-width: 768px) {
    .footer--block {
        padding: 0.5rem 2rem;
        margin-bottom: 0.75rem;
    }
}