<div id="wrapper" class="d-flex">
    <app-sidebar class=" bg-gradient-primary"></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <nav class="navbar navbar-expand-lg bg-white shadow d-flex justify-content-end px-5">
                <div class="d-flex justify-content-end align-items-center">
                    <img src="./assets/images/admin-ava.png" style="width: 5%;">
                    <span class="font-13 ml-2">Admin</span>
                </div>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container mt-4">
                <!-- Page Heading -->
                <div class="row d-flex align-items-baseline pl-3 pr-4">
                    <div class="col-5">
                        <div class="content-top d-flex font-14">
                            <a href="#">
                                Trang chủ >
                            </a>
                            <div class="ml-1">Danh sách > Người dùng</div>
                        </div>
                    </div>
                    <div class="col-7 input-group">
                        <input class="form-control" name="kw" [(ngModel)]="kw" type="search"
                            placeholder="Tìm kiếm theo Username" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Tìm
                                kiếm</button>
                        </div>
                    </div>
                </div>

                <!-- Data -->
                <div class="card shadow my-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <p *ngIf="!users"><em>Loading...</em></p>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                *ngIf="users.totalRecord>0">
                                <thead class="font-15">
                                    <tr>
                                        <th class="text-center">UserID</th>
                                        <th class="text-center">Username</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                        <th class="text-center">DOB</th>
                                        <th>Phone Number</th>
                                        <th class="text-center">RoleID</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="font-14">
                                    <tr *ngFor="let u of users.data; index as i;">
                                        <td class="text-center">{{u.userId}}</td>
                                        <td class="text-center">{{u.userName}}</td>
                                        <td>{{u.password | slice:0:6}}</td>
                                        <td>{{u.email}}</td>
                                        <td class="text-center">{{u.dob| date:'dd-MM-yyyy' }}</td>
                                        <td>{{u.phoneNumber}}</td>
                                        <td class="text-center">{{u.roleId}}</td>
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#exampleModal" (click)="openModal(i)">
                                                    <i class="fas fa-edit"></i></button>
                                                <button id="delete" class="btn btn-danger" (click)="deleteUser(i)"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="row card-footer m-0 d-flex align-items-baseline">
                        <div class="col-6 font-12">
                            <p class="mb-1">* Trong đó RoleID có 2 phân quyền chính [
                                <span> 1: Admin </span>
                                <span>// 2: User ] </span>
                            </p>
                        </div>

                        <div class="col-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination m-0 d-flex justify-content-end">
                                    <li class="paginate_button page-item previous ">
                                        <a href="javascript:
                                        void(0);" aria-controls="dataTable" data-dt-idx="0" (click)="searchPrevious()"
                                            tabindex="0" class="page-link">Trước </a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                            class="page-link">{{ users.page }}</a>
                                    <li class="paginate_button page-item next">
                                        <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="4"
                                            (click)="searchNext()" tabindex="0" class="page-link"> Sau</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- === MODAL === -->
<!-- Edit -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" ngNativeValidate>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" ngNativeValidate>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Username</label>
                    <div class="col-sm-8">
                        <input type="text" name="userName" [(ngModel)]="user.userName" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="text" name="password" [(ngModel)]="user.password" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" name="email" [(ngModel)]="user.email" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">DOB</label>
                    <div class="col-sm-8">
                        <input type="date" name="dob" [(ngModel)]="user.dob" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">PhoneNumber</label>
                    <div class="col-sm-8">
                        <input type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber" class="form-control"
                            required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">RoleID</label>
                    <div class="col-sm-8">
                        <input type="text" name="roleId" [(ngModel)]="user.roleId" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateUser()">Lưu</button>
            </div>
        </form>
    </div>
</div>

<!-- Create New -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Họ</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tên</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Số điện thoại</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Ngày sinh</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success">Tạo mới</button>
            </div>
        </div>
    </div>
</div>
