#checkout {
    header {
        box-shadow: 0 0 2px 0 #dddddd;
        background-color:white;
    }

    .header--checkout--title:not(:first-child),
    .checkout--body--details:not(:first-child) {
        width: 16.3333%;
        font-size:13px;
        color: grey;
    }

    .header--checkout--title:first-child,
    .checkout--body--details:first-child {
        width:50%;
    }
}