<section id="signup">
    <div class="container my-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 px-3">
                <h2 class="font-weight-bold mb-4">Đăng ký</h2>
                <form ngNativeValidate >
                    <div class="form-group">
                        <label for="example-text-input">Tên đăng nhập</label>
                        <div>
                            <input class="form-control" name="userName" [(ngModel)]="users.userName" type="text" id="example-text-input" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-password-input">Mật khẩu</label>
                        <div>
                          <input class="form-control" type="password" name="passWord" [(ngModel)]="passworldEnter" id="example-password-input" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <div>
                          <input class="form-control" name="email" [(ngModel)]="users.email" id="example-email-input" required>
                        </div>
                      </div>
                    <div class="form-group">
                        <label for="example-date-input">DOB</label>
                        <div>
                            <input class="form-control" name="dob"  [(ngModel)]="users.dob" type="date" required id="example-date-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <div>    
                          <input class="form-control" name="phoneNumber"  [(ngModel)]="users.phoneNumber" id="example-number-input" required maxlength="10">
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-8 py-2 font-15">
                            Bạn đã có tài khoản? Hãy <span routerLink="/login" style="cursor: pointer;"><u>Đăng
                                nhập</u></span> ở đây
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <button type="submit" (click)="addUser()" class="btn py-2 px-4 text-light text-uppercase"
                            style="background-color: var(--darkred);">Đăng ký</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 px-3 align-items-center justify-content-center">
                <img class="signup--img" src="./assets/images/signup.png" alt="signup" style="width: 100%; ">
            </div>
        </div>
    </div>
</section>