<div id="wrapper" class="d-flex">
    <app-sidebar class="bg-gradient-primary"></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand-lg bg-white shadow d-flex justify-content-end px-3">
                <div class="d-flex justify-content-end align-items-center">
                    <img src="./assets/images/admin-ava.png" style="width: 5%;">
                    <span class="font-13 ml-2">Admin</span>
                </div>
            </nav>

            <div class="p-4 d-flex font-14">
                <a href="#">
                    Trang chủ >
                </a>
                <div class="ml-1">Danh sách > Loại sản phẩm</div>
            </div>

            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header row py-3 d-flex justify-content-between m-0">
                        <div class="input-group col-md-8 p-0">
                            <input class="form-control" name="first" [(ngModel)]="key" type="text"
                                placeholder="Tìm theo tên phân loại hàng" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success my-sm-0" type="submit"
                                    (click)="searchCategory(1)">Tìm
                                    kiếm</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal"
                            (click)="openModal(true)">
                            Tạo mới
                        </button>
                    </div>

                    <div class="card-body pb-0">
                        <div class="table-responsive">
                            <p *ngIf="!categories"><em>Loading...</em></p>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                                *ngIf="categories.totalRecord>0">
                                <thead class="font-15">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Tên loại SP</th>
                                        <th class="text-center">Mô tả</th>
                                        <th class="text-center">Giới tính</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="font-14">
                                    <tr *ngFor="let c of categories.data">
                                        <td class="text-center">{{ c.categoryId }}</td>
                                        <td>{{ c.categoryName }}</td>
                                        <td class="text-center">{{ c.description }}</td>
                                        <td class="text-center">{{ c.gioiTinh }}</td>
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#exampleModal" (click)="openModal(false,c)">
                                                    <i class="fas fa-edit"></i></button>
                                                <button id="delete" class="btn btn-danger" (click)="deleteModal(c)"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card-footer dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination  m-0 d-flex justify-content-end">
                        <li class="paginate_button page-item previous ">
                            <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="0"
                                (click)="searchPrevious()" tabindex="0" class="page-link">Trước</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                class="page-link">{{ categories.page }}</a>
                        <li class="paginate_button page-item next">
                            <a href="javascript:void(0);" aria-controls="dataTable" data-dt-idx="4"
                                (click)="searchNext()" tabindex="0" class="page-link">Sau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL CREATE AND UPDATE CATEGORY -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="!isEdit" id="exampleModalLabel">Thêm loại sản phẩm mới</h5>
                <h5 class="modal-title" *ngIf="isEdit" id="exampleModalLabel">Chỉnh sửa loại sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tên loại</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="category.categoryName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Tiêu đề</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="category.title">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Mô tả</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="category.description">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Thuộc giới tính</label>
                    <div class="col-sm-8">
                        <form>
                            <label class="radio-inline m-0 mx-2">
                                <input [(ngModel)]="category.gender" [value]="false" type="radio" name="optradio"
                                    checked class="mr-2">Nam
                            </label>
                            <label class="radio-inline m-0 mx-2">
                                <input [(ngModel)]="category.gender" [value]="true" type="radio" name="optradio"
                                    class="mr-2">Nữ
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" (click)="addCategory()" *ngIf="!isEdit" class="btn btn-success">Tạo
                    mới</button>
                <button type="button" (click)="updateCategory()" *ngIf="isEdit" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DELETE CATEGORY-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bạn có chắc chắn xóa?</h5>
            </div>
            <div class="modal-body">
                <p>Sau khi xóa sẽ không thể phục hồi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở về</button>
                <button type="button" (click)="deleteCategory(category)" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>